<h1>Parcel - <%= @parcel.tracking_code %></h1>

<div class="row">Receiver: <%= @parcel.receiver_name %></div>
<div class="row">Phone: <%= @parcel.receiver_phone %></div>
<div class="row">e-mail: <%= @parcel.receiver_email %></div>


<div class="row">
<div class="col-sm-4" style="border: 1px solid gray">
    <h6>Origin Address</h6>

    <p>Street</p>
    <%= @origin_address.street %><br />
    <p>External number</p>
    <%= @origin_address.ext_number %><br />
    <p>Appartment</p>
    <%= @origin_address.int_number %><br />
    <p>City</p>
    <%= @origin_address.city %><br />
    <p>Country</p>
    <%= @origin_address.country %><br />
    <p>ZIP code</p>
    <%= @origin_address.zip_code %><br />
</div>

<div class="col-sm-4" style="border: 1px solid gray">
    <h6>Destination Address</h6>

    <p>Street</p>
    <%= @destination_address.street %><br />
    <p>External number</p>
    <%= @destination_address.ext_number %><br />
    <p>Appartment</p>
    <%= @destination_address.int_number %><br />
    <p>City</p>
    <%= @destination_address.city %><br />
    <p>Country</p>
    <%= @destination_address.country %><br />
    <p>ZIP code</p>
    <%= @destination_address.zip_code %><br />
</div>
</div>
<h3>Tracking History</h3>
<table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Location</td>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @parcel.created_at %></td>
            <td>&nbsp;</td>
            <td>Added into the system</td>
        </tr>
        <% @parcel.track_events.each do |event| %>
            <tr>
                <td><%= event.created_at %></td>
                <td><%= event.location %></td>
                <td><%= event.description %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Update status', update_parcel_status_parcel_path(@parcel.id), class: 'btn btn-primary' %>
<span>Next: <%= @parcel.current_status[:new_event] %></span><br /><br />
<%= link_to 'Back', :back, class: 'btn btn-primary' %>